@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    /*Primary*/

    --red : hsl(1, 90%, 64%);
    --blue : hsl(219, 85%, 26%);

    /*Neutral*/

    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
    
}

html{
    font-size: 12px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--very-light-grayish-blue);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/*big screens*/
@media screen and (min-width: 1440px){
    html{
        font-size: 14px;
    }
}
@media screen and (min-width: 1800px){
    html{
        font-size: 16px;
    }
}
/*small screens*/
@media screen and (max-width: 620px){
    html{
        font-size: 12px;
    }
}
@media screen and (max-width: 400px){
    /* html{
        font-size: 10px;
    } */
    body{
        background-color: var(--white);
    }
}
@media screen and (max-width: 360px){
    html{
        font-size: 10px;
    }
}
